<div class="d-flex justify-content-center ">
  <% if logged_in? %>
    <h1>You have access to this page, <%= current_user.username %></h1>
  <% else %>
    <%= button_to "Login", '/login', method: :get, :class => 'btn btn-primary p-5 m-5' %>
    <%= button_to "Sign Up", '/users/new', method: :get, :class => 'btn btn-warning p-5 m-5' %>
  <% end %>
</div>
<!--<div class="row">-->

<!--</div>-->
