<%= form_with model: @edit, url: person_update_path, multipart: true do |f| %>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <%= f.text_field :name, placeholder: 'Nama ', :class => 'form-control', :id => 'name' %>
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
    <%= f.text_field :phone, placeholder: 'No Telpon ', :class => 'form-control', :id => 'phone' %>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <%= f.text_field :email, placeholder: 'Email', :class => 'form-control', :id => 'phone', :type => 'email' %>
  </div>

  <div class="mb-3">
    <label for="logo" class="form-label">Avatar</label>
    <%= f.text_field :avatar, placeholder: 'Avatar', :class => 'form-control', :id => 'avatar', :type => 'file' %>
    <%= f.text_field :organization_id, placeholder: 'Avatar', :value => params[:organization_id], :class => 'form-control', :id => 'avatar', :type => 'hidden' %>
  </div>
  <%= f.submit 'Update' %>
<% end %>
