<div class="d-flex justify-content-between bd-highlight">
  <div class="p-2 bd-highlight">
    <h3>List Person</h3>

  </div>
  <div class="p-2 bd-highlight">
    <% if logged_in? %>
      <% if current_user.role == 'admin' || (current_user.role == 'account_manager' && current_user.account_manager == data.organization_id) %>
        <%= link_to 'Create', person_new_path, :class => 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Avatar</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @person.each do |data, index| %>

    <tr>
      <td><%= data.id %></td>
      <td><%= data.name %></td>
      <td><%= data.phone %></td>
      <td><%= data.email %></td>
      <td><img src="<%= data.avatar %>" alt="Avatar" class="avatar">
      </td>
      <td>
        <% if logged_in? %>
          <% if current_user.role == 'admin' || (current_user.role == 'account_manager' && current_user.account_manager == data.organization_id) %>

            <%= link_to 'Edit', person_edit_path(data.organization_id, data.id), :class => 'btn btn-primary' %>
            <%= link_to 'Hapus', person_delete_path(data.organization_id, data.id), data: { confirm: 'Ingin menghapus data ini?' }, method: :delete, :class => 'btn btn-danger' %>
          <% end %>
        <% end %>
      </td>
    </tr>

  <% end %>
  </tbody>

</table>