<%= form_with model: @edit, url: user_update_path do |f| %>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <%= f.text_field :username, placeholder: 'Nama ', :class => 'form-control', :id => 'name' %>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Role</label>
    <%= f.select :role, [['Please select an option', nil], 'admin', 'account_manager'], {}, { :class => 'form-control' } %>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Organization</label>
    <%= f.select :account_manager, Organization.all.map { |c| [c.name, c.id] }, { :prompt => "Select One" }, { :class => 'form-control' } %>
  </div>




  <%= f.submit 'Update' %>
<% end %>
