<div class="d-flex justify-content-between bd-highlight">
  <div class="p-2 bd-highlight">
    <h3>List Organization</h3>

  </div>
  <div class="p-2 bd-highlight">

  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Role</th>
    <th scope="col">Account Manager</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @user.each_with_index do |data, index| %>

    <tr>
      <td><%= index += 1 %></td>
      <td><%= data.username %></td>
      <td><%= data.role %></td>
      <td><%= data.name %></td>
      <td>
        <% if logged_in? %>
          <% if current_user.role == 'admin' %>
            <%= link_to 'Edit', user_edit_path(data.id), :class => 'btn btn-primary' %>
            <%= link_to 'Hapus', organization_delete_path(data.id), data: { confirm: 'Ingin menghapus data ini?' }, method: :delete, :class => 'btn btn-danger' %>
          <% end %>
        <% end %>
      </td>
    </tr>

  <% end %>
  </tbody>

</table>