<div class="d-flex justify-content-center">
  <div class="col-md-4">
    <%= form_for @user do |f| %>

      <div class="text-center mb-4">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">User register</h1>
      </div>

      <div class="form-label-group p-2">
        <label for="inputEmail">Username</label>
        <%= f.text_field :username, :class => 'form-control' %>
      </div>

      <div class="form-label-group p-2 mb-2">
        <label for="inputPassword">Password</label>
        <%= f.password_field :password, :class => 'form-control' %>

      </div>

      <div class="text-center ">
        <%= f.submit 'Sign up', :class => 'btn btn-lg btn-primary btn-block' %>

        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>

      </div>
    <% end %>
  </div>
</div>


