<div class="d-flex justify-content-between bd-highlight">
  <div class="p-2 bd-highlight">
    <h3>List Organization</h3>

  </div>
  <div class="p-2 bd-highlight">
    <% if logged_in? %>
      <% if current_user.role == 'admin' %>
        <%= link_to 'Create', organization_new_path, :class => 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Website</th>
    <th scope="col">Logo</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @organization.each_with_index do |data, index| %>

    <tr>
      <td><%= index += 1 %></td>
      <td><%= data.name %></td>
      <td><%= data.phone %></td>
      <td><%= data.email %></td>
      <td><%= data.website %></td>
      <td><img src="<%= data.logo %>" alt="Avatar" class="avatar">
      </td>
      <td>
        <%= link_to 'Person', person_index_path(data.id), :class => 'btn btn-success' %>
        <% if logged_in? %>
          <% if current_user.role == 'admin' || (current_user.role == 'account_manager' && current_user.account_manager == data.id) %>
            <%= link_to 'Edit', organization_edit_path(data.id), :class => 'btn btn-primary' %>
            <%= link_to 'Hapus', organization_delete_path(data.id), data: { confirm: 'Ingin menghapus data ini?' }, method: :delete, :class => 'btn btn-danger' %>
          <% end %>
        <% end %>
      </td>
    </tr>

  <% end %>
  </tbody>

</table>