<%= form_with model: @new, url: organization_store_path, multipart: true do |f| %>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <%= f.text_field :name, placeholder: 'Nama Organization', :class => 'form-control', :id => 'name' %>
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
    <%= f.text_field :phone, placeholder: 'No Telpon Organization', :class => 'form-control', :id => 'phone' %>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <%= f.text_field :email, placeholder: 'Email', :class => 'form-control', :id => 'phone', :type => 'email' %>
  </div>
  <div class="mb-3">
    <label for="website" class="form-label">Website</label>
    <%= f.text_field :website, placeholder: 'Website', :class => 'form-control', :id => 'phone', :type => 'text' %>
  </div>
  <div class="mb-3">
    <label for="logo" class="form-label">Logo</label>
    <%= f.text_field :logo, placeholder: 'Logo', :class => 'form-control', :id => 'phone', :type => 'file' %>
  </div>



  <%= f.submit 'Tambah' %>
<% end %>
